fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-google-genai
langchain-text-splitters
chromadb
sentence-transformers
pypdf
requests
beautifulsoup4
python-multipart